body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}


:root {
    --primary-color: #6C60E0;
    --secondary-color: #FF764A;
 
    --text-color-2: #414141;
}

/* navbar */

nav ul li {
    font-size: 16px;
}

.btn {
    padding: 10px 30px;
    border: none;
}

.btn.btn-primary{
    background-color: var(--secondary-color);
    border: none;
}

.btn.btn-flat {
    background-color: transparent;
    color: var(--text-color-2)
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    color: #1C1A1B;
}

span.primary {
    color: var(--primary-color);
}

span.secondary {
    color: var(--secondary-color);
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-underline-position: under;
}

.nav-item {
    margin-right: 85px;
}

/* header */

.header-content {
    margin-top: 100px;
}

.header-content h1 {
    line-height: 150%;
    margin-bottom: 23px;
}

.header-content p {
    color: #7E7E7E;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%; 
}

h1 {
    font-weight: 700;
    font-size: 42px;
}

.statistic h3 {
    font-weight: 600;
}

.statistic p {
    font-size: 16px;
}


/* Description */
#description {
    margin-bottom: 20px;
}

#desc-card {
    font-size: 28px;
    font-weight: bold;
    opacity: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

#desc-text {
    margin-left: 5px;
    font-size: 16px;
    color: black;
    opacity: 70%
}

#desc-text span {
    display: block;
    margin-bottom: 2px;
}

.button-professional {
    display: flex;
    margin-left: 10px;
    margin-top: 35px;
}

.btn-professional {
    margin-top: 0px;
    margin-right: 4px;
    padding: 8px 15px;
    background-color: #558BF5;
    color: #fff;
    border: 1px solid #558BF5;
    border-radius: 29px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.btn-professional:hover {
    background-color: white;
    color: #558BF5;
    border: 1px solid #558BF5;
}

.fa {
    padding-top:10px;
    margin-left:10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #4A4A4A;
    margin-top: 25px;
    border: 1px solid #4A4A4A;
    background-color: #E6E6E6;
    border-radius: 100%;
  }

  .fa:hover {
    animation-delay: 2s;
    color: #E6E6E6;
    background-color: white;
}



.button-tutorial {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 60px;
    font-size: 14px;
    opacity: 80%;
    padding-left: 8px;
    font-weight: bold;
}

.btn-tutorial {
    background-color: white;
    border: none;
    color: red;
    font-weight: bold;
}


/* Rate Mentor */
#card-rating-container {
    margin-bottom: 20px;
}

.card-tittle-rating {
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 28px;
    opacity: 90%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.description-rating {
    font-size: 25px;
    opacity: 90%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.description-rating span {
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 60px;
}

.star-rating{
    margin-top: 0px;
    padding-top: 0px;
}
.star-rating-yes {
    margin-left: 55px;
    color: #EAB308;
    display: flex;
}

.star-rating-no {
    color: #FEF08A;
}




.skill {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .skill-bar {
    background-color: #E9E9E9;
    height: 8px;
    border-radius: 12px;
    position: relative;
    flex: 4;
    padding: 0px;
    margin: 0px;
  }

  .skill-level {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 12px;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    line-height: 10px;
  }

  .fa-star {
    color: #EAB308;
    margin-left: 7px;
  }




#rate-star-container{
    opacity: 90%;
    margin: 0px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-top: 15px;
}

#rate-star{
    opacity: 90%;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 9px;
    margin: 1px;
    padding-top:16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /* padding: 0px; */
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Card Reviewer */

#card-reviewer {
    margin: 0px;
    display: flex;
}
#card-reviewer img {
    width: 15%;
    height: 15%;
    border-radius: 100%;
    padding-right
}

.card-body-reviewer{
    margin-left: 7px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.tittle-card{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: var(--primary-color);
}
.card-work{
    font-size: 14px;
    opacity: 90%;
    margin: 0px;
    padding: 0px;
}

.card-star{
    color: #EAB308;
    margin: 0px;
}

#text-card{
    opacity: 90%;
}

.button-centered {
    display: grid;
    place-items: center;
}

.button-reviewer {
    background-color: white;
    color: var(--primary-color);
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid;
    border-color: #6C60E0;
  }
  
  .button-reviewer:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
  }



/* Card Mentor */
#card-container {
    display: flex;
}

#card- h3{
    padding-bottom: 20px;
    font-weight: bold;
    opacity: 80%;
}

#card-box{
    margin-bottom: 20px;
}

#card-body {
    margin-bottom: 20px;
}
.card img {
    width: 100%;
}

.card-title {
    padding-top: 7px;
    padding-bottom: 0px;
    margin: 0px;
}

.card-avaliable {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: #FAFAFA;
    border-radius: 22px;
}

.border-button {
    border: none;
    margin-right: 15px;
    margin-top: 20px;
    padding: 9px 25px;
    border-radius: 22px;
    background: #D5E9FE;
    cursor: pointer;
    font-size: 10px;
}

.border-button:hover {
    opacity: 40%;
  }

.card-experience {
    font-size: 12px;
    padding-top: 15px;
    padding-left: 15px;
}
.card-experience span{
    display: block;
    font-weight: bold;
}

.card-range {
    color: var(--primary-color);
    font-weight: bold;
}

.card-text  {
    color: #2573C8;
    padding-top: 0px;
    margin-bottom: 3px;
}

.card-text img {
    width: 20px;
}

.range-card {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.range-card span {
    color: #EAB308;
}


.centered-button {
    display: grid;
    place-items: center;
}

.button-mentor {
    background-color: var(--primary-color);
    border: 2px var(--primary-color);
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;

  }
  
  .button-mentor:hover {
    border: 2px solid;
    background-color: white;
    border-color: var(--primary-color);
    color: var(--primary-color);
  }







/* footer */
footer {
    border-top: 1px solid #EAEAEA;
    margin-top: 500px;
}

h5.text-logo {
    color: #1C1A1B;
    font-size: 18px;
    font-weight: 600;
}

.sosmed-footer {
    display: flex;
    gap: 43px;
    padding-bottom: 40px;
}

.sosmed-logo:hover {
    scale: 1.2;
    animation: all 0.5s  ease-in-out;
}

footer h5 {
    font-size: 18px;
    color: #797979;
    font-weight: 600;
}

footer ul {
    margin-top: 38px;
}

footer li {
    margin-bottom: 12px;
}

footer ul li a {
    color: #797979;
}