:root {
    --gray-50: rgba(95, 109, 126, 1);
    --gray-500: rgba(46, 54, 70, 1);
    --neutral-50: rgba(249, 251, 253, 1);
    --neutral-100: rgba(248, 249, 251, 1);
    --neutral-400: rgba(241, 245, 248, 1);
    --neutral-600: rgba(230, 233, 236, 1);
    --neutral-700: rgba(209, 217, 226, 1);
    --neutral-900: rgba(124, 139, 157, 1);
    --baseblack: rgba(0, 0, 0, 1);
    --basewhite: rgba(255, 255, 255, 1);
    --blue-500: rgba(67, 126, 247, 1);
    --text-xs-regular-font-family: "Inter-Regular", Helvetica;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-font-size: 13px;
    --text-xs-regular-letter-spacing: -0.013000000193715095px;
    --text-xs-regular-line-height: 18px;
    --text-xs-regular-font-style: normal;
    --text-xs-medium-font-family: "Inter-Medium", Helvetica;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-size: 13px;
    --text-xs-medium-letter-spacing: -0.013000000193715095px;
    --text-xs-medium-line-height: 18px;
    --text-xs-medium-font-style: normal;
    --text-xs-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --text-xs-semi-bold-font-weight: 600;
    --text-xs-semi-bold-font-size: 13px;
    --text-xs-semi-bold-letter-spacing: -0.013000000193715095px;
    --text-xs-semi-bold-line-height: 18px;
    --text-xs-semi-bold-font-style: normal;
    --text-s-medium-font-family: "Inter-Medium", Helvetica;
    --text-s-medium-font-weight: 500;
    --text-s-medium-font-size: 14px;
    --text-s-medium-letter-spacing: -0.014000000208616257px;
    --text-s-medium-line-height: 20px;
    --text-s-medium-font-style: normal;
    --text-s-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --text-s-semi-bold-font-weight: 600;
    --text-s-semi-bold-font-size: 14px;
    --text-s-semi-bold-letter-spacing: -0.014000000208616257px;
    --text-s-semi-bold-line-height: 20px;
    --text-s-semi-bold-font-style: normal;
    --text-s-regular-font-family: "Inter-Regular", Helvetica;
    --text-s-regular-font-weight: 400;
    --text-s-regular-font-size: 14px;
    --text-s-regular-letter-spacing: -0.014000000208616257px;
    --text-s-regular-line-height: 20px;
    --text-s-regular-font-style: normal;
    --text-m-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --text-m-semi-bold-font-weight: 600;
    --text-m-semi-bold-font-size: 15px;
    --text-m-semi-bold-letter-spacing: -0.015000000223517418px;
    --text-m-semi-bold-line-height: 22px;
    --text-m-semi-bold-font-style: normal;
    --text-m-medium-font-family: "Inter-Medium", Helvetica;
    --text-m-medium-font-weight: 500;
    --text-m-medium-font-size: 15px;
    --text-m-medium-letter-spacing: -0.015000000223517418px;
    --text-m-medium-line-height: 22px;
    --text-m-medium-font-style: normal;
    --text-m-regular-font-family: "Inter-Regular", Helvetica;
    --text-m-regular-font-weight: 400;
    --text-m-regular-font-size: 15px;
    --text-m-regular-letter-spacing: -0.015000000223517418px;
    --text-m-regular-line-height: 22px;
    --text-m-regular-font-style: normal;
    --text-xl-regular-font-family: "Inter-Regular", Helvetica;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-size: 18px;
    --text-xl-regular-letter-spacing: -0.018000000268220902px;
    --text-xl-regular-line-height: 28px;
    --text-xl-regular-font-style: normal;
    --text-xl-medium-font-family: "Inter-Medium", Helvetica;
    --text-xl-medium-font-weight: 500;
    --text-xl-medium-font-size: 18px;
    --text-xl-medium-letter-spacing: -0.018000000268220902px;
    --text-xl-medium-line-height: 28px;
    --text-xl-medium-font-style: normal;
    --text-xl-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --text-xl-semi-bold-font-weight: 600;
    --text-xl-semi-bold-font-size: 18px;
    --text-xl-semi-bold-letter-spacing: -0.018000000268220902px;
    --text-xl-semi-bold-line-height: 28px;
    --text-xl-semi-bold-font-style: normal;
    --text-l-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --text-l-semi-bold-font-weight: 600;
    --text-l-semi-bold-font-size: 16px;
    --text-l-semi-bold-letter-spacing: 0.024000000953674317px;
    --text-l-semi-bold-line-height: 24px;
    --text-l-semi-bold-font-style: normal;
    --text-l-medium-font-family: "Inter-Medium", Helvetica;
    --text-l-medium-font-weight: 500;
    --text-l-medium-font-size: 16px;
    --text-l-medium-letter-spacing: 0.024000000953674317px;
    --text-l-medium-line-height: 24px;
    --text-l-medium-font-style: normal;
    --text-l-regular-font-family: "Inter-Regular", Helvetica;
    --text-l-regular-font-weight: 400;
    --text-l-regular-font-size: 16px;
    --text-l-regular-letter-spacing: -0.01600000023841858px;
    --text-l-regular-line-height: 24px;
    --text-l-regular-font-style: normal;
    --text-l-bold-font-family: "Inter-Bold", Helvetica;
    --text-l-bold-font-weight: 700;
    --text-l-bold-font-size: 16px;
    --text-l-bold-letter-spacing: -0.01600000023841858px;
    --text-l-bold-line-height: 24px;
    --text-l-bold-font-style: normal;
    --headline-xxs-mobile-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-xxs-mobile-semi-bold-font-weight: 600;
    --headline-xxs-mobile-semi-bold-font-size: 18px;
    --headline-xxs-mobile-semi-bold-letter-spacing: -0.36px;
    --headline-xxs-mobile-semi-bold-line-height: 24px;
    --headline-xxs-mobile-semi-bold-font-style: normal;
    --headline-xs-mobile-medium-font-family: "Inter-Medium", Helvetica;
    --headline-xs-mobile-medium-font-weight: 500;
    --headline-xs-mobile-medium-font-size: 20px;
    --headline-xs-mobile-medium-letter-spacing: -0.4px;
    --headline-xs-mobile-medium-line-height: 28px;
    --headline-xs-mobile-medium-font-style: normal;
    --headline-xs-mobile-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-xs-mobile-semi-bold-font-weight: 600;
    --headline-xs-mobile-semi-bold-font-size: 20px;
    --headline-xs-mobile-semi-bold-letter-spacing: -0.4px;
    --headline-xs-mobile-semi-bold-line-height: 28px;
    --headline-xs-mobile-semi-bold-font-style: normal;
    --headline-xs-desktop-medium-font-family: "Inter-Medium", Helvetica;
    --headline-xs-desktop-medium-font-weight: 500;
    --headline-xs-desktop-medium-font-size: 22px;
    --headline-xs-desktop-medium-letter-spacing: -0.22px;
    --headline-xs-desktop-medium-line-height: 30px;
    --headline-xs-desktop-medium-font-style: normal;
    --headline-xs-desktop-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-xs-desktop-semi-bold-font-weight: 600;
    --headline-xs-desktop-semi-bold-font-size: 22px;
    --headline-xs-desktop-semi-bold-letter-spacing: -0.22px;
    --headline-xs-desktop-semi-bold-line-height: 30px;
    --headline-xs-desktop-semi-bold-font-style: normal;
    --headline-s-mobile-medium-font-family: "Inter-Medium", Helvetica;
    --headline-s-mobile-medium-font-weight: 500;
    --headline-s-mobile-medium-font-size: 24px;
    --headline-s-mobile-medium-letter-spacing: -0.48px;
    --headline-s-mobile-medium-line-height: 32px;
    --headline-s-mobile-medium-font-style: normal;
    --headline-s-mobile-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-s-mobile-semi-bold-font-weight: 600;
    --headline-s-mobile-semi-bold-font-size: 24px;
    --headline-s-mobile-semi-bold-letter-spacing: -0.48px;
    --headline-s-mobile-semi-bold-line-height: 32px;
    --headline-s-mobile-semi-bold-font-style: normal;
    --headline-s-mobile-bold-font-family: "Inter-Bold", Helvetica;
    --headline-s-mobile-bold-font-weight: 700;
    --headline-s-mobile-bold-font-size: 24px;
    --headline-s-mobile-bold-letter-spacing: -0.48px;
    --headline-s-mobile-bold-line-height: 32px;
    --headline-s-mobile-bold-font-style: normal;
    --headline-s-desktop-medium-font-family: "Inter-Medium", Helvetica;
    --headline-s-desktop-medium-font-weight: 500;
    --headline-s-desktop-medium-font-size: 28px;
    --headline-s-desktop-medium-letter-spacing: -0.28px;
    --headline-s-desktop-medium-line-height: 38px;
    --headline-s-desktop-medium-font-style: normal;
    --headline-s-desktop-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-s-desktop-semi-bold-font-weight: 600;
    --headline-s-desktop-semi-bold-font-size: 28px;
    --headline-s-desktop-semi-bold-letter-spacing: -0.28px;
    --headline-s-desktop-semi-bold-line-height: 38px;
    --headline-s-desktop-semi-bold-font-style: normal;
    --headline-m-mobile-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-m-mobile-semi-bold-font-weight: 600;
    --headline-m-mobile-semi-bold-font-size: 28px;
    --headline-m-mobile-semi-bold-letter-spacing: -0.56px;
    --headline-m-mobile-semi-bold-line-height: 36px;
    --headline-m-mobile-semi-bold-font-style: normal;
    --headline-m-mobile-bold-font-family: "Inter-Bold", Helvetica;
    --headline-m-mobile-bold-font-weight: 700;
    --headline-m-mobile-bold-font-size: 28px;
    --headline-m-mobile-bold-letter-spacing: -0.56px;
    --headline-m-mobile-bold-line-height: 36px;
    --headline-m-mobile-bold-font-style: normal;
    --headline-m-desktop-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-m-desktop-semi-bold-font-weight: 600;
    --headline-m-desktop-semi-bold-font-size: 32px;
    --headline-m-desktop-semi-bold-letter-spacing: -0.32px;
    --headline-m-desktop-semi-bold-line-height: 42px;
    --headline-m-desktop-semi-bold-font-style: normal;
    --headline-xl-mobile-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-xl-mobile-semi-bold-font-weight: 600;
    --headline-xl-mobile-semi-bold-font-size: 36px;
    --headline-xl-mobile-semi-bold-letter-spacing: -0.72px;
    --headline-xl-mobile-semi-bold-line-height: 44px;
    --headline-xl-mobile-semi-bold-font-style: normal;
    --headline-xl-mobile-bold-font-family: "Inter-Bold", Helvetica;
    --headline-xl-mobile-bold-font-weight: 700;
    --headline-xl-mobile-bold-font-size: 36px;
    --headline-xl-mobile-bold-letter-spacing: -0.36px;
    --headline-xl-mobile-bold-line-height: 44px;
    --headline-xl-mobile-bold-font-style: normal;
    --headline-xl-desktop-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-xl-desktop-semi-bold-font-weight: 600;
    --headline-xl-desktop-semi-bold-font-size: 40px;
    --headline-xl-desktop-semi-bold-letter-spacing: -0.8px;
    --headline-xl-desktop-semi-bold-line-height: 48px;
    --headline-xl-desktop-semi-bold-font-style: normal;
    --headline-l-mobile-regular-font-family: "Inter-Regular", Helvetica;
    --headline-l-mobile-regular-font-weight: 400;
    --headline-l-mobile-regular-font-size: 32px;
    --headline-l-mobile-regular-letter-spacing: 0px;
    --headline-l-mobile-regular-line-height: 40px;
    --headline-l-mobile-regular-font-style: normal;
    --headline-l-mobile-medium-font-family: "Inter-Medium", Helvetica;
    --headline-l-mobile-medium-font-weight: 500;
    --headline-l-mobile-medium-font-size: 32px;
    --headline-l-mobile-medium-letter-spacing: -0.64px;
    --headline-l-mobile-medium-line-height: 40px;
    --headline-l-mobile-medium-font-style: normal;
    --headline-l-mobile-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --headline-l-mobile-semi-bold-font-weight: 600;
    --headline-l-mobile-semi-bold-font-size: 32px;
    --headline-l-mobile-semi-bold-letter-spacing: -0.64px;
    --headline-l-mobile-semi-bold-line-height: 40px;
    --headline-l-mobile-semi-bold-font-style: normal;
    --headline-l-mobile-bold-font-family: "Inter-Bold", Helvetica;
    --headline-l-mobile-bold-font-weight: 700;
    --headline-l-mobile-bold-font-size: 32px;
    --headline-l-mobile-bold-letter-spacing: -0.64px;
    --headline-l-mobile-bold-line-height: 40px;
    --headline-l-mobile-bold-font-style: normal;
    --headline-l-desktop-medium-font-family: "Inter-Medium", Helvetica;
    --headline-l-desktop-medium-font-weight: 500;
    --headline-l-desktop-medium-font-size: 36px;
    --headline-l-desktop-medium-letter-spacing: -0.72px;
    --headline-l-desktop-medium-line-height: 44px;
    --headline-l-desktop-medium-font-style: normal;
    --display-m-desktop-bold-font-family: "Inter-Bold", Helvetica;
    --display-m-desktop-bold-font-weight: 700;
    --display-m-desktop-bold-font-size: 52px;
    --display-m-desktop-bold-letter-spacing: -0.52px;
    --display-m-desktop-bold-line-height: 60px;
    --display-m-desktop-bold-font-style: normal;
    --hedline-xxs-desktop-regular-font-family: "Inter-Regular", Helvetica;
    --hedline-xxs-desktop-regular-font-weight: 400;
    --hedline-xxs-desktop-regular-font-size: 20px;
    --hedline-xxs-desktop-regular-letter-spacing: 0px;
    --hedline-xxs-desktop-regular-line-height: 28px;
    --hedline-xxs-desktop-regular-font-style: normal;
    --hedline-xxs-desktop-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --hedline-xxs-desktop-semi-bold-font-weight: 600;
    --hedline-xxs-desktop-semi-bold-font-size: 20px;
    --hedline-xxs-desktop-semi-bold-letter-spacing: 0px;
    --hedline-xxs-desktop-semi-bold-line-height: 28px;
    --hedline-xxs-desktop-semi-bold-font-style: normal;
    --variable-collection-assets: rgba(0, 0, 0, 0.85);
  }
  